# 1 - Intermediate Python

<b>Summary</b>:
> * Loops
>> * `while`
>> * `for`
>> * `range` function
>> * `break` statement
>> * List comprehensions
> * Functions
>> * Defining a function
>> * `return` statement
>> * Documentation strings
>> * Default arguments
> * Classes
>> * Creating classes
>> * Working with classes
> * Reading and writing files

For more details see: 
- https://docs.python.org/3/tutorial/controlflow.html 
- https://docs.python.org/3/tutorial/controlflow.html#defining-functions
- https://docs.python.org/3.7/tutorial/classes.html
- https://docs.python.org/3/tutorial/inputoutput.html

## Loops

### `while`

It repeats the body until the condition remains true.

In [ ]:
b=0
while b<5:
  print(b)
  b=b+1

0
1
2
3
4

### `for`
Iterates over the objects in a list/tuple.

In [ ]:
words=['cat','window','defenestrate']
for w in words:
  print(w,len(w))

cat 3
window 6
defenestrate 12

Or through dictionaries.

In [ ]:
age={'jack':30,'kate':24,'jane':24}
for k in age: # iterates through the keys
  print (k)

for k, val in age.items():
  print(k,val)

jack
kate
jane
jack 30
kate 24
jane 24

In [ ]:
age.items()

dict_items([('jack', 30), ('kate', 24), ('jane', 24)])

### `range` function

Iteration over a sequence of numbers.

In [ ]:
for i in range(0,5):
  print (i)

print("----------")

for j in range(5):
  print (j)

0
1
2
3
4
----------
0
1
2
3
4

Try to see the documentation of the function `range`. Range can be used also with a second argument specifying the beginning of the sequence.

In [ ]:
range?

The third argument defines the step

In [ ]:
for i in range(0,5,2):
  print (i)

0
2
4

### `break` statement

`break` stops the iteration of a loop.

In [ ]:
counter=0
while True:
  counter+=1
  print (counter)
  if counter > 15:
    break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16

In [ ]:
n=38
is_a_prime=True
for x in range (2,n):
  if n % x==0:
    print(n,'is not a prime number, it equals', x, '*', n//x)
    is_a_prime=False
    break
if is_a_prime:
  print(n,"is a prime")

38 is not a prime number, it equals 2 * 19

### List comprehensions

A concise way to create lists through loops.

In [ ]:
squares=[x**2 for x in range(25)]
squares

[0,
 1,
 4,
 9,
 16,
 25,
 36,
 49,
 64,
 81,
 100,
 121,
 144,
 169,
 196,
 225,
 256,
 289,
 324,
 361,
 400,
 441,
 484,
 529,
 576]

Which is equivalent to:

In [ ]:
squares = []
for x in range(10):
  squares.append(x**2)

squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

Comprehensions can be as complicated as you want, including also `if` statements.

In [ ]:
data=[[x,y] for x in [1,2,3] for y in [3,1,4] if x!= y]
data

[[1, 3], [1, 4], [2, 3], [2, 1], [2, 4], [3, 1], [3, 4]]

And can be used to create also dictionaries

In [ ]:
d={x: x**2 for x in (2,4,6)}
d

{2: 4, 4: 16, 6: 36}

### Defining a function

It is defined with the statement `def`. The body is indented.

In [ ]:
def first_function():
  print('Hi')
first_function()

f=first_function()
f

Hi
Hi

Arguments are passed through the round brackets

In [ ]:
def print_my_info(name,nationality):
  print('I\'m {} from {}'.format(name,nationality))
print_my_info('Andrea','Italy')

I'm Andrea from Italy

### <i>return</i> statement

In [ ]:
def fib(n):
  result = []
  a,b= 0,1
  while a < n:
    result.append(a)
    a,b = b, a+b
  return result
result=fib(100)
print(result)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89]

It can be useful to return multiple variables

In [ ]:
def get_circumference_area_circle(radius):
  pi=3.4159
  return 2 * pi * radius, pi *radius *radius
circ,area=get_circumference_area_circle(4)
print(circ, area)

27.3272 54.6544

### Documentation strings

It is always a good habit to describe what the function does.
It can be encoded inside the function with triple quotes:

In [ ]:
def get_circumference_area_circle(radius):
  """
  Evaluates the power of the first n integers
  The default power is the square
  """
  pi=3.4159
  return 2 * pi * radius, pi *radius *radius

The documentation can be inspected as for built-in methods

In [ ]:
get_circumference_area_circle?

Another way to see the documentation is to use the following method, which converts it to a string

In [ ]:
print(get_circumference_area_circle.__doc__)

  Evaluates the power of the first n integers
  The default power is the square

### Default arguments

In [ ]:
def evaluate_powers(n,power=2,print_result=True):
  """
  Evaluates the power of the first n integers.
  The default power is the square.
  """
  powers=[]
  for i in range (n):
    powers.append(i**power)
  if print_result:
    print(powers)
    return power

In [ ]:
result=evaluate_powers(4)
print(result)
result=evaluate_powers(4,3)
print(result)

[0, 1, 4, 9]
2
[0, 1, 8, 27]
3

In [ ]:
def evaluate_powers(n,power=2,print_result=True):
  powers=[i**power for i in range (n) ]
  if print_result:
    print(powers)
    return power

In [ ]:
result2=evaluate_powers(4)
print(result2)
result=evaluate_powers(4,3)
print(result2)

[0, 1, 4, 9]
2
[0, 1, 8, 27]
2

## Classes

### Why do we use Classes?

Classes provide a means of bundling information about an object and object functions together. Creating a new class creates a new type of object, allowing new instances of that type to be made. Each class instance can have attributes attached to it. Class instances can also have methods (defined by its class) for modifying its state.

To understand the need for creating a class, let’s consider an example. Let’s say you wanted to track the number of dogs which may have different attributes like breed and age. If a list is used, the first element could be the dog’s breed while the second element could represent its age. Let’s suppose there are 100 different dogs, then how would you know which element is supposed to be which? What if you wanted to add other properties to these dogs? This lacks organization and it demonstrates the need for classes.

Class creates a user-defined data structure, which holds its own data members and member functions that can be accessed and used by creating an instance of that class. A class is like a blueprint for an object and how to work with it.

### Creating a class


Here are simple rules to create a class in Python:

- Classes are created by keyword ```class```.
- Attributes are the variables that belong to class.
- Attributes are always visible and can be accessed using dot (.) operator. Eg.: Myclass.Myattribute
- Attributes can be made not directly visible by adding a double underscore prefix to their name. Eg.: Myclass.__Hiddenattribute


In the following example, the ```class``` keyword indicates that you are creating a class followed by the name of the class (Dog in this case).

In [1]:
class Dog:  

    # Class Variable  
    animal = 'dog'      

    # The init method or constructor  
    def __init__(self, breed):  

        # Instance Variable  
        self.breed = breed              

    # Adds an instance variable   
    def setColor(self, color):  
        self.color = color  

    # Retrieves instance variable      
    def getColor(self):      
        return self.color 
    
# Driver Code  
Rodger = Dog("pug")  
Rodger.setColor("brown")  
print(Rodger.getColor())

brown

The ```__init__``` method is a constructor. Constructors are used to initialize the state of an object. Like methods, a constructor also contains a collection of statements (i.e. instructions) that are executed when an oject is created. It is run as soon as an object of a class is instantiated. The method is useful to do any initialization you want to do with your object.

The first argument of a method is often called ```self``` which represents the instance of the class. Calling it ```self``` is just a convention, but is considered best practice. Using the ```self``` keyword, we can access the attributes and methods of the class in python.


We do not give a value for the parameter ```self``` when we call the method, Python provides it. If we have a method which takes no arguments, then we still have to have one argument. When we call a method of this object as ```myobject.method(arg1, arg2)```, this is automatically converted by Python into ```MyClass.method(myobject, arg1, arg2)```.

## Reading and writing files

In order to analyze data you have to first read it in to your program. Once you've performed your calculations, you may want to save it for future use. Here we will read in a data file containing observations from a Gaussian distribution of unknown mean and variance, calculate the mean and variance, and save the results to a file for future use.

In [2]:
#if the file is stored locally
"""
from google.colab import files
uploded = files.upload()
"""

'\nfrom google.colab import files\nuploded = files.upload()\n'

In [ ]:
#in_path = "https://raw.githubusercontent.com/Valentinaba/ICTP-QLS/main/Numerical%20Methods/data.tsv"

In [5]:
# hard code the path to the data
in_path = "/Users/williamrshoemaker/My Drive (williamrshoemaker@gmail.com)/QLS_python_course/Lesson_1/data.tsv"

In [7]:
# often data has a header
# 'r' = read
file = open(in_path, 'r')

# get the header
header = file.readline()
print(header)

So we know the data is in the second index of each line, i.e., ```line[1]```.

In [ ]:
data = []
for line in file:
    # remove any extra characters at the beginning of the string
    line = line.strip()
    # split the data by the deliminator. If you don't know what the deliminator is, check the data
    line = line.split('\t')
    # turn the observation into a float
    line_data = float(line[1])
    data.append(line_data)

    
mean_data = sum(data)/len(data)
variance_data = sum([(data_i - mean_data)**2 for data_i in data])/len(data)
    
print("Mean =", mean_data)
print("Variance =", variance_data)
    
# now we close the file
file.close()

Alternatively, you could open the file with a ```with``` command and Python will automatically close the file once it has looped through all the lines, but you will need to add a statement to make sure Python ignores the header in your file.

In [ ]:
with open(in_path, 'r') as file:
    read_data = file.read()
    
# We can check that the file has been automatically closed.f.closed
file.closed

Now let's save the results of your calculation. Here the argument ```'w'``` means "write" and ```%``` is an operator to convert the float to a string

In [ ]:
out_path = "/Users/williamrshoemaker/My Drive (williamrshoemaker@gmail.com)/QLS_python_course/Lesson_1/processed_data.tsv"

file_out = open(out_path, 'w')

# write the header
file_out.write('Mean\tVariance\n')
# write the data
file_out.write('%f\t%s\n' % (mean_data, variance_data)) 


file_out.close()